// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.page-container {
//  @extend %page-container;
//}

h1 {
  text-align: center;
  text-shadow: 1px 1px 1px #777;
  font-size: 3em;
}

.author {
  text-align: center;
  font-style: italic;
  color: #777;
}

.posts-link {
  font-size: 1.5em;
  margin-top: 50px;
}